/* 폰트 설정 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* 스타일 초기화 */
@import "./reset.css";
/* 변수 지정 */
@import "./variables.css";

/* 콤포넌츠 반복되는 녀석들 */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/find.css";
/* 스크린 */
@import "./screens/login.css";
@import "./screens/friends.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
