#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}
#login-form input[value="Log In"] {
  margin-bottom: 15px;
}
/* input type이 submit이 아닐 때 실행된다 */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
/* #login-form에서 input 태그의 value 값이 Log In 이 아니고 focus를 받았을 때 효과가 지정*/
#login-form input:not([type="submit"]):focus {
  border-bottom: 2px solid var(--koko-brown);
}
#login-form input[type="submit"] {
  background-color: var(--koko-yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  /* text-decoration: none;
  color: inherit; */
  font-size: 14px;
}
