.badge {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}
.badge--small {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
}
